
<h3>Para iniciar registre su empresa.</h3>
<p class="">Usted puede tener varios negocios administrados desde nuestra plataforma.</p>
<p class="">
    <a href="#" class="btn btn-sm btn-success">Registre su Empresa</a>
</p>